# Mac OSX
.DS_Store

# c, cpp out file
*.out
*.o

# Document Files
*.docx
*.key
*.hwp
*.pptx
*.pdf

# Media Files
*.jpg
*.jpeg
*.png
*.gif
*.MOV
*.avi
*.mp4

# test, temp Files
test
test.*
temp.*

# Matlab Drive Appdata
.MATLABDriveAppData/
Icon?

# Image Data
*.jpg

# vscode configuration
.vscode/

# cloned file; not my code
tjsamples/

# zipped file
*.tar
*.zip

# log
log.*

# python cache
__pycache__/
